body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #111, #222);
  color: #fff;
}

.container {
  width: 100%;
  max-width: 450px;
  margin: 80px auto;
  text-align: center;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.subtitulo {
  margin-bottom: 30px;
  opacity: .8;
}

.painel-opcoes {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn {
  padding: 15px;
  text-decoration: none;
  background: #ff3333;
  color: #fff;
  border-radius: 8px;
  font-weight: bold;
  transition: .2s;
  display: block;
}

.btn:hover {
  background: #ff5555;
}
